<h1>Index all Superheroes</h1>


<%= link_to 'Back to Home', root_path  %>

<div class="container superheroes-container">

  <% @superheroes.each do |superhero| %>
    <div class="cards-superheroes">
      <div class="card-superhero" style="background-image: url(https://cdn.dribbble.com/users/2987584/screenshots/6030369/batman_4x.jpg)">
        <%= link_to superhero.name, superhero %>
      </div>
    </div>
  <% end %>

  <img id="map" src='https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/2.3381,48.8693,10.45,0,0/600x1000?access_token=pk.eyJ1IjoiaGllbm5ndXllbjA2IiwiYSI6ImNqejNpZ2R4djAzdjczZHA5MzFjZ2VlaXoifQ.fYruwlhSoLNaTFc66KZLTg'>
</div>
