<div class="show-page">
  <div class="show-banner">
    <div class="show-text">
      <h1 class="mt-1">Search Superheroes</h1>
      <p class="mb-5">Find a superhero near you</p>
      <%= link_to 'Back', root_path, class: "btn-solid" %>
    </div>
  </div>

  <div class="container heroes-container mt-5">
    <% @superheroes.each do |superhero| %>
    <div class="hero-card mb-2">
      <div class="card-trip">
        <img src="<%= cl_image_path superhero.photo, crop: :fill %>" alt="">
        <div class="card-trip-infos">
          <div>
            <h2><%= link_to superhero.name, superhero %></h2>
          </div>
          <h2 class="card-trip-pricing">$<%= link_to superhero.price %></h2>
          <img src="https://pbs.twimg.com/profile_images/1018943227791982592/URnaMrya.jpg" class="card-trip-user avatar-bordered"/>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>

