<div class="homepage-user">
  <div class="homepage-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://wallpapersite.com/images/pages/pic_h/18396.jpg);">
    <div class="banner-text-box">
      <h1 class="mb-5">Host a Superhero, <br>be a hero</h1>
      <%= link_to "Hire our your hero", new_superhero_path, class: "btn-solid" %>
    </div>
  </div>

  <div class="homepage-howitworks">
    <h3 class="pt-5">Hiring out in 3 steps</h3>

    <div class="container container-howitworks">
      <div class="card-howitworks">
        <div class="number">1</div>
        <h5>List your hero for free</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est earum tempora nesciunt ratione voluptatibus inventore</p>
      </div>

      <div class="card-howitworks">
        <div class="number">2</div>
        <h5>Decide how you want to host</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est earum tempora nesciunt ratione voluptatibus inventore</p>
      </div>

      <div class="card-howitworks">
        <div class="number">3</div>
        <h5>Welcome your first savior</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est earum tempora nesciunt ratione voluptatibus inventore</p>
      </div>
    </div>
  </div>


  <div class="homepage-banner" style="height: 65vh; background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://wallpapersite.com/images/pages/pic_h/10216.jpg);">
    <h3 class="container">"A hero can be anyone"</h3>
  </div>


  <div class="container homepage-testimonial">
    <div class="container test-text">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSKrbagBYjQf5olkJo3v3GVSqLDNyk811R-TIceH2yTEjM0c6ZJ"><br>
      <i class="fas fa-quote-left mt-3" style="color: #f9a534;"></i>
      <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum nisi quidem cum in</h3>
    </div>

    <div class="container test-text">
      <img src="https://www.sideshow.com/product-asset/904529"><br>
      <i class="fas fa-quote-left mt-3" style="color: #f9a534;"></i>
      <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum nisi quidem cum in</h3>
    </div>

    <div class="container test-text">
      <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/nick-fury-eye-1552397861.jpg?crop=0.488xw:0.976xh;0,0&resize=480:*"><br>
      <i class="fas fa-quote-left mt-3" style="color: #f9a534;"></i>
      <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum nisi quidem cum in</h3>
    </div>

  </div>

    <div class="footer">
      <div class="footer-links">
        <a href="#"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
      <div class="footer-copyright">
        Made by WingIt
      </div>
    </div>

  </div>

</div>


