<div class="section-home-page">
  <div class="banner">
    <div class="banner-text-box">
      <h1>Heroes for Hire</h1>
      <h3>Find or host a superhero,<br>anywhere</h3>
    </div>
  </div>

  <div class="container container-card-action d-flex justify-content-center">
    <div class="card-action m-4">
      <div class="card-action-infos">
        <h2>Hire out a hero</h2>
        <p>Help save the world</p>
        <a>Get started</a>
      </div>
    </div>
    <div class="card-action m-4">
      <div class="card-action-infos">
        <h2>Find a superhero</h2>
        <p>Help save the world</p>
        <a>Search</a>
      </div>
    </div>
  </div>
</div>

