<!-- <div class="banner">
  <div class="banner-text-box">
    <h1>Find or be a hero,<br>anywhere</br></h1>
  </div>
</div> -->


<!-- ===============card-product================== -->

<div class="container mt-5">
  <div class="card-action">
    <div class="card-action-infos">
      <h2>Hire out a hero</h2>
      <p>Help save the world</p>
      <a>Get started</a>
    </div>
  </div>
</div>



<!-- kitchensink_buttons -->
<div class= "buttons">
  <a class= "btn btn-red" href="#">Register a hero</a>
  <a class= "btn btn-white" href="#">Book A Hero </a>
  <a class= "btn btn-gradient" href="#">Learn More</a>

</div>

<!-- adding a footer -->
 <div class = "footer-container">
  <div class = "footer-icon">
    @Heroes for hire.inc
  </div>
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-snapchat"></i></a>
  </div>
</div>
