<div class="banner">
  <div class="banner-text-box">
    <h1>Find or be a hero,<br>anywhere</br></h1>
  </div>
</div>


<!-- ===============card-product================== -->

<div class="container mt-5">
  <div class="card-action">
    <div class="card-action-infos">
      <h2>Hire out a hero</h2>
      <p>Help save the world</p>
      <a>Get started</a>
    </div>
  </div>
</div>
