
.banner-carousel {
  height: 95vh;
}

.banner-text-box {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  color: white;

  .banner-buttons {
    color: $primary-red;
    margin-top: 40px;
  }
}

.banner-text-box h1 {
  font-size: 64px;
  word-spacing: 4px;
  letter-spacing: 1px;
  font-weight: bold;
}

.banner-testimonial {
  background-position: center;
  background-color: $primary-dark;
  height: 30vh;
  padding: 54px;
  color: $primary-white;
}




