.btn-ghost {
  color: $primary-red;
  border: 1px solid $primary-red;
  padding: 8px 24px;
  border-radius: 4px;
  transition: opacity 0.3s ease;
  &:hover {
    //transform: translateY(-2px);
    box-shadow: 0 4px 4px rgba(#212629, 0.1);
    color: #B91E21;
    text-decoration: none;
    border-color: #B91E21;
  }

  &::after {
    transform: scaleX(1.5) scaleY(1.6);
    opacity: 0;
  }
}

.btn-solid {
  color: $primary-white;
  background-color: $primary-red;
  padding: 8px 24px;
  border-radius: 40px;
  transition: opacity 0.3s ease;
  border: hidden;
  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 4px rgba(#212629, 0.1);
    color: $primary-white;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), $primary-red;
    text-decoration: none;
    border: hidden;
  }

  &::after {
    transform: scaleX(1.5) scaleY(1.6);
    opacity: 0;
  }
}

.btn-white {
  color: $primary-white;
  border: 1px solid #fff;
  padding: 8px 24px;
  border-radius: 4px;
  transition: opacity 0.3s ease;
}

.btn-white:hover {

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 4px rgba(#212629, 0.1);
    color: $primary-white;
  }

  &::after {
    transform: scaleX(1.5) scaleY(1.6);
    opacity: 0;
  }
}

.btn-search {
  background: #e62328;
  border: 0px;
  font-size: 16px;
  color: rgba(255,255,255,1);
  padding: 8px 24px;
  border-radius: 4px;
  &:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #e62328;
  }
}

.btn-clean-border {
  border: hidden;
}

