.btn-red {
  color: white;
  background-color: #e62328;
  border: 1px solid #F4F4F4;
  opacity: 0.8;
  padding: 16px 32px;
  transition: opacity 0.2s ease;
  border-radius: 8px;
}

.btn-red:hover {
  font-size: 24px;
  background-color: #e62328;
  font-weight: bold;
  color: #fff;
}

.btn-white {
  background-color: #F4F4F4;
  border: 2px solid red;
  border-radius: 50px;
  padding: 8px 32px;
  cursor: pointer;
  text-align: center;

}
.btn-white:hover{
  background-color: #e62328;
  box-shadow: 0 9px #999;
  opacity: 0.8;
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.btn-white:active{
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.btn-gradient {
  color: white;
  background-color: #e62328;
  border: solid 0.8px #e62328;
  padding: 16px 32px;
  border-radius: 4px;
  // box-shadow: 2px 2px 4px #e62328;
  transition: all 0.3s ease 0s;
  font-size: 18px;
}

.btn-gradient:hover {
  color: red;
  font-style: italic;
  background-color: white;
}





