.btn-ghost {
  color: $primary-red;
  border: 1px solid #ec1e23;
  padding: 8px 24px;
  border-radius: 4px;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 4px rgba(#212629, 0.1);
    color: $primary-red;
  }

  &::after {
    transform: scaleX(1.5) scaleY(1.6);
    opacity: 0;
  }
}

.btn-solid {
  color: $primary-white;
  background-color: $primary-red;
  border: 1px solid #ec1e23;
  padding: 8px 24px;
  border-radius: 4px;
  transition: opacity 0.3s ease;
}

.btn-solid:hover {

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 4px rgba(#212629, 0.1);
    color: $primary-white;
  }

  &::after {
    transform: scaleX(1.5) scaleY(1.6);
    opacity: 0;
  }
}

.btn-white {
  color: $primary-white;
  border: 1px solid #fff;
  padding: 8px 24px;
  border-radius: 4px;
  transition: opacity 0.3s ease;
}

.btn-white:hover {

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 4px rgba(#212629, 0.1);
    color: $primary-white;
  }

  &::after {
    transform: scaleX(1.5) scaleY(1.6);
    opacity: 0;
  }
}





