.container-card-action {
  margin-top: -150px;
}

.card-action {
  overflow: hidden;
  height: 240px;
  width: 40%;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 8px;
}

.card-action-infos {

  h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
  }

  p {
    font-size: 16px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 24px;
    margin-top: 8px;
  }

  a {
    font-size: 14px;
    line-height: 1.4;
    background-color: #ec1e23;
    padding: 8px 24px;
    border-radius: 12px;
    font-weight: bold;
  }
}

.card-action .card-action-infos {
  padding: 16px;

  a {
    color: $primary-white;
  }
}
