.container-discover {
  margin-top: 80px;
  height: 60vh;
  // position: sticky;
  // top: 0;
  // z-index: 1;
  // background-size: cover;
  // background-repeat: no-repeat;
}

.container-testimonial {
  margin-top: 88px;
  height: 50vh;
  position: relative;
}

.container-show {
  height: 100vh;
  width: 100%;
}

.container-map {
  height: 100vh;
  width: 100%;
  background-color: $primary-dark;

  h1 {
    color: white;
    padding-top: 64px;
    font-size: 48px;
  }

  p {
    color: white;
  }
}

.inner-container {
  background-color: $primary-dark;
  display: flex;
  justify-content: center;
  margin-top: 32px;
}
