.footer-container {
  background: #212629;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 64px;
  padding: 8px 16px;
  color: rgba(0,0,0,0.3);
  margin-top: 54px;
}

.footer-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 6px 8px;
}

.footer-links a:hover {
  opacity: 0.8;
}

.footer-icon {
  color: #fff;
}
