.swal-overlay {
  background-color: rgba(33, 38, 40, 0.9);
}

.swal-modal {
  border: 8px solid rgb(33, 38, 40);
}

.swal-title {
  color: #A5DC86;
}

.swal-text {
  color: rgb(33, 38, 40);
  font-weight: bold;
}

.swal-button {
  color: white;
  background-color: #6dbbde;
}
