.show-container {
  width: 100%;
  height: 92vh;
  background-color: $primary-white;
  background-size: cover;
  background-position: center;
}

.show-info {

  position: absolute;
  width: 450px;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  color: white;

  h1 {
    color: $primary-white;
    font-size: 64px;
  }
}

#text {
 display: block;
 width: 100px;
 overflow: hidden;
 white-space: nowrap;
 text-overflow: ellipsis;
}
