.show-container {
  background-size: cover;
  background-position: center;
  height: 100vh;
}


.hero-description {

  position: absolute;
  width: 1140px;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  color: $primary-white;

  h1 {
    font-size: 64px;
  }

  p {
    font-size: 16px
  }
}
